<h1>Create a new Publisher  </h1>
<%= form_for @publisher do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'name', class: "form-control input-sm" %><br>
    <br>

    <br>

    <br />

    <%= f.submit 'Gonder' %>
<% end %>


<% if @publisher.errors.any? %>
    <h3>
      <%= @publisher.errors.full_messages.join(", ") %>
      </h3>
<% end %>