<h1>Tüm Kitaplar</h1><hr>
<table class="table">
	<% @books.each do |book| %>
	<tr>
		<td><%= link_to book.name, book_path(book) %></td>
		<td><%= book.published_date %></td>
		<td><%= book.page_number %></td>
		<td><%= book.category.name %></td>
		<td><%= book.writer.name %></td>

	</tr>
	<% end %>
</table>
<hr>
<% if current_user.present? and current_user.admin? %>
	<h3><%= link_to 'Yeni Kitap', new_book_path %></h3>
<% end %>
