<h1><%= @book.name %></h1>
<table class="table">
	<tr>
		<td><%= @book.id %></td>
		<td><%= @book.name %></td>
		<td><%= @book.published_date %></td>
		<td><%= @book.page_number %></td>
		<td><%= link_to "Güncelle", edit_book_path(@book) %></td>
		<td><%= link_to "Sil", book_path(@book), method: :delete %></td>
	</tr>
</table><hr>
<% @book.comments.each do |e| %>
<%=	e.user.email %>:
<%=	e.body %>
	<% if current_user.present? and current_user.id == e.user.id %>
		<%= link_to 'Sil', book_comment_path(@book, e), method: :delete %>
	<% end %><br>
<% end %>

<h4>Yorum Yap</h4><hr>
<%= form_for [@book, @comment] do |f| %>
	<%= f.text_area :body %>
	<%= f.submit %>
<% end %>

<%= link_to "Yazarlara Dön", books_path %>
<%= link_to "Okundu olarak işaretle", favorites_path(@book), method: :post%>
