<h1><%= @book.name %></h1>
<table class="table">
	<tr>
		<td><b>Kitap ID</b></td>
		<td><b>Kitabın Adı</b></td>
		<td><b>Basım Yılı</b></td>
		<td><b>Sayfa Sayısı</b></td>
		<td><b>Kategorisi</b></td>
		<td><b>Yazarı</b></td>
		<% if current_user.present? and current_user.admin? %>
			<td><b>Güncelle</b></td>
			<td><b>Sil</b></td>
		<% end %>
	</tr>
	<tr>
		<td><%= @book.id %></td>
		<td><%= @book.name %></td>
		<td><%= @book.published_date %></td>
		<td><%= @book.page_number %></td>
		<td><%= link_to @book.category.name, category_path(@book.category) %></td>
		<td><%= link_to @book.writer.name, writer_path(@book.writer) %></td>
		<% if current_user.present? and current_user.admin? %>
			<td><%= link_to "Güncelle", edit_book_path(@book) %></td>
			<td><%= link_to "Sil", book_path(@book), method: :delete %></td>
		<% end %>
	</tr>
</table><hr>
<% @book.comments.each do |e| %>
<%=	e.user.email %>:
<%=	e.body %>
	<% if current_user.present? and current_user.id == e.user.id %>
		<%= link_to 'Sil', book_comment_path(@book, e), method: :delete %>
	<% end %><br>
<% end %>

<% if current_user.present? %>
	<h4>Yorum Yap</h4><hr>
	<%= form_for [@book, @comment] do |f| %>
		<%= f.text_area :body %>
		<%= f.submit %>
	<% end %>
<% end %>
<%= link_to "Kitaplara Dön", books_path %>
<% if current_user.present? %>
	<%= link_to "Okundu olarak işaretle", favorites_path(@book), method: :post%>
<% end %>
