<h1><%= @book.name %></h1>
<table class="table">
	<tr>
		<td><%= @book.id %></td>
		<td><%= @book.name %></td>
		<td><%= @book.published_date %></td>
		<td><%= @book.page_number %></td>
		<td><%= link_to "Güncelle", edit_book_path(@book) %></td>
		<td><%= link_to "Sil", book_path(@book), method: :delete %></td>
	</tr>
</table>

<div class="panel panel-default">
 <div class="panel-heading">

  </div>
  <div class="panel-body">

    <% @books.comments.each do |comment| %>
      <p><%= comment.body %></p>
    <% end %>

  </div>
</div>
<%= link_to "Yazarlara Dön", books_path %>
