<!DOCTYPE html>
<html>
  <head>
    <title>Ayk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <hr>
    <% if current_user.present? %>
      <%= current_user.email + " İle Giriş Yapıldı " %>
      <%= link_to "Çıkış Yap", destroy_user_session_path, method: :delete %>
      <%= link_to "Okuduğum kitapları Görüntüle", favorites_path %>
    <% else %>
      <%= link_to 'Giriş Yap', new_user_session_path %>
      <%= link_to 'Kayıt Ol', new_user_registration_path %>
    <% end %>
  </body>
</html>
